/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  direction: rtl;
  text-align: center;
}
.machine{
  display:flex;
  gap:1%;
  justify-content:center;
  height:100vh;
  width:100%;
}
.left{
  flex-basis:40%;
}
.prodDrinks{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  gap:2%;
  height:60vh;
  background-color:black;
  flex-basis:100%;
  margin-top:5%;
  padding:5%;
  

  
}
.drink{
  flex-basis:40%;
  height:auto;

  text-align:center;
  background-color:white;
  

}
.right{
  flex-basis:15%;
  /* display:flex; */
  flex-wrap:wrap;
  justify-content:center;
}
.coins{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  height:20vh;
  flex-basis:100%;
  background-color:red;
  margin-top:5%;
  padding:5%;
}
.Bcoins{
  flex-basis:35%;
  height:8vh;
  border-radius:10rem;
  background-color:white;
  font-size:large;

}
.massage{
  height:10vh;
  flex-basis:100%;
  background-color:green;
  font-size:large;
  margin-top:13%;
  padding-top:5%;
}
.userBoard{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  height:20vh;
  flex-basis:100%;
  padding:5%;
  background-color:pink;

}
.Buser{
  flex-basis:35%;
  height:8vh;
}
